.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio__item:hover{
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio__item h3{
    font-size: 1rem;
    margin: 1.2rem 0 1rem;
}

.portfolio__item-role{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.portfolio__item-stack{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.portfolio__item-cta{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
/* =============== MEDIA QUERIS (MEDIUM DEVICES) ============== */
@media screen and (max-width:1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    }
}

/* =============== MEDIA QUERIS (SMALL DEVICES) ============== */
@media screen and (max-width:600px){
    .portfolio__container{
        grid-template-columns: 1fr;
    }
}

