nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
  }
  
  nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    position: relative; /* Required for tooltip positioning */
  }
  
  nav a:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  
  nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
  }
  
  /* Tooltip styles */
  nav a:hover::after {
    content: attr(title);
    position: absolute;
    bottom: calc(100% + 0.5rem); /* Position tooltip above the icon */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.75);
    color: var(--color-white);
    padding: 0.5rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0.75;
    font-size: 0.875rem;
    z-index: 1;
  }
  